// Fonts
// TODO: Reduce imports?
@import '@fontsource/poppins/latin-300';
@import '@fontsource/poppins/latin-400';
@import '@fontsource/poppins/latin-500';
@import '@fontsource/poppins/latin-700';

// Bootstrap
$blue:    #3f80ea !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$yellow:  #e5a54b !default;
$green:   #4bbf73 !default;
$cyan:    #1f9bcf !default;
$gray-100: #eff2f6 !default;
$gray-800: #020202 !default;
$gray-900: #293042 !default;
$secondary: #495057 !default;
$primary-dark: #1659c7;
$primary-light: #84aef2;
$font-family-sans-serif: "Poppins",system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@import 'bootstrap/scss/bootstrap';

// Font Awesome
@import '@fortawesome/fontawesome-free/css/fontawesome';
@import '@fortawesome/fontawesome-free/css/brands';
@import '@fortawesome/fontawesome-free/css/solid';

// Hamburgers
$hamburger-layer-color: #fff;
$hamburger-layer-height: 0.25rem;
$hamburger-layer-spacing: 0.375rem;
$hamburger-layer-width: 36px;
@import 'hamburgers/_sass/hamburgers/hamburgers';

// General
body {
    min-height: 100vh;
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

// Sidebar and main content
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: auto;
    color: $gray-600;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fafafa;
}

#content.active {
    width: 100%;
}

@include media-breakpoint-down(sm) {
    #content {
        width: 100%;
        right: -250px;
    }
    #content.active {
        right: 0;
    }
}

#topbar button {
    outline: none!important;
    z-index:2000;
    padding-top: 1.4rem !important;
    padding-bottom: 1.6rem !important;
}

#topbar.dark .hamburger-inner,
#topbar.dark .hamburger-inner::before,
#topbar.dark .hamburger-inner::after {
    background-color: $gray-900 !important;
}
#topbar,
#topbar.dark select {
    color: $gray-900 !important;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li a {
    padding: .5rem .7rem;
    line-height: 1.625rem;
    margin-bottom: 0.5rem;
}

#iconbar li a {
    padding: .3rem .5rem;
}

#sidebar ul li a.active,  #sidebar ul li a:focus, #sidebar ul li a:hover, #iconbar a.active,  #iconbar a:focus, #iconbar a:hover {
    background-color: hsla(0,0%,100%,.2);
    border-radius: .1875rem;
}

#sidebar a.active,  #sidebar a:focus, #sidebar a:hover, #iconbar a.active,  #iconbar a:focus, #iconbar a:hover {
    color: #fff;
}

#iconbar li {
    margin: 0.6rem .1rem .1rem;
}
#iconbar {
    padding-top:0.9rem!important;
}

// Home section
#home {
    min-height: 100vh;
    background-position: top left;
    background-size: cover;
}

#home p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 1.6rem;
}

#home .text-bold {
    margin: 0 0 10px 0;
    font-size: 2rem;
    font-weight: 700;
}

section:not([id='home']) {
    padding: calc(5rem + (1.5rem) * 1.2 - 9px);
}

// Coming soon alert (in sidebar)
.alert-soon {
    transform: rotate(290deg);
    margin-top: -9rem;
    margin-left: 1.5rem;
}

// Language select
.form-select-language {
    background-image:none;
    box-shadow: none!important;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    cursor:pointer;
}
